

<!DOCTYPE html>
<html lang="en">

  <head>
    {{ content_for_header }}
    {% include 'ea-head' %}
  </head>

  <body class="template-{{ template.name }} {% if settings.animations_on %} animations-on {% endif %} {% if template == 'product' %}product-page--{{ product.handle }}{% endif %}">
    
    {% render 'ea-header' %}

    {{ content_for_layout }}

    <div class="site-footer-container" data-site-footer>
      {% section 'ea-footer' %}
    </div>

    {% include 'subscription-theme-footer' %}
    {% include 'ea-end' %}
    
  </body>
</html>