.before-after {
  position: relative;
  user-select: none;
}

.before-after__before {
  .before-after__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    clip: rect(auto, auto, auto, 150px);
  }
  .before-after__label {
    left: 0;
    right: auto;
  }
}

.before-after__label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 25px;
  position: absolute;
  z-index: 40;
  bottom: auto;
  top: 0;
  right: 0;
  font-weight: 500;
  font-stretch: condensed;
  @include desktop {
    bottom: 0;
    top: auto;
  }
}

.before-after__image {
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.before-after__shutter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 150px;
  z-index: 30;
  width: 1px;
  background: $color-white;
  cursor: pointer;
  &:before {
    content: "";
    display: block;
    width: 38px;
    height: 38px;
    background: $color-white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  i {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    color: $color-brown;
    &.icon-triangle-left {
      left: -1em;
    }
    &.icon-triangle-right {
      right: -1em;
    }
  }
}