.list-icons {
  display: block;
  margin: 0;
  justify-content: center;
  @include desktop {
    margin: 0 -#{$gutter};
    display: flex;
  }
}
.list-icons__item {
  margin: 0 $gutter;
  flex: 1;
  max-width: 75px;
  min-width: 75px;
  padding: 0;
  @include desktop {
    max-width: 80px;
    min-width: unset;
  }
}