@keyframes zoom-fade-password {
  0% {
    opacity: 0;
    transform: scale(1.4,1.4);
  }
  5% {
    opacity: 1;
    transform: scale(1,1);
  }
  100% {
    opacity: 1;
    transform: scale(1.2,1.2);
  }
}

.password-page__image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  animation: zoom-fade-password 20s ease 1s forwards;

  &:before,
  &:after {
    position: fixed;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  &:before {
    top: 0;
    background-color: rgba(0,0,0,0.2);
  }

  &:after {
    position: fixed;
    height: 55vh;
    background: linear-gradient(rgba(0,0,0,0) 0, rgba(0,0,0,0.8) 100%);
  }
}


// Main layout

.password-page__wrapper {
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  width: 100%;
  color: #fff;
  padding: $gutter / 2;
  font-family: $ff-1;

  @include desktop {
    padding: $gutter * 2;
  }

  > div {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    position: relative;
  }

  > .password-page__main {
    position: relative;
    -ms-flex: 1 0 auto;
        flex: 1 0 auto;
  }

  a:not(.btn) {
    color: inherit;
  }

  hr {
    border-color: currentColor;
  }
}

// Header

.password-page__header {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 2;

  > * {
    margin-bottom: 20px;
  }
  padding-top: 30px;
}

.password-page__logo {
  h1 {
    margin-bottom: 0;
  }

  .logo {
    max-width: 100%;
  }
}

.password-page__logo-image {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

// Custom button style for password link

.btn--password {
  display: block;
  border-radius: 35px;
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  box-shadow: none;
  padding: 8px 12px;
  background-position: 150% 45%;
  min-width: 90px;

  &:hover,
  &:active {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
  }

  &:after {
    content: '';
  }
}

.password__lock .icon {
  position: relative;
  top: -2px;
  margin-right: 4px;
  width: 12px;
  height: 12px;
}

// Main content area

.password-page__content-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 80vh;
  z-index: 1;
  padding-bottom: 20px;
  @include desktop {
    padding-bottom: 0px;
  }
}

.password-page__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.password-page__form {
  
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
    
  @include desktop {    
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
  }
}

.password-form {
  margin-bottom: 1em;
}

.password-page__signup-form {
  .errors ul {
    list-style-type: none;
    margin-left: 0;
  }
}

.password-page__social-sharing {
  margin-top: 30px;
}

.icon-shopify-logo {
  width: 60px;
  height: 20px;
}

#LoginModal {
  display: none;
  bottom: 0;
  left: 0;
  opacity: 1;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 25;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .btn {
    min-width: unset !important;
  }

  .password-admin-link {
    position: fixed;
    padding: 20px 40px;
    bottom: 0;
    text-align: center;
    background-color: #fff;
    font-size: 12px;

    a {
      border-bottom: 2px solid #333029 !important
    }

    @include desktop {
      font-size: 15px;
    }
  }

  .modal__close {
    position: fixed;
    top: 20px;
    right: 20px;
    border: 0;
    box-shadow: none;

    .icon__fallback-text {
      display: none;
    }

    svg {
      width: 26px;
      height: 26px;

      path {
        stroke: black;
        stroke-width: 5px;
      }
    }
  }

  .modal__inner {
    z-index: 1;

    input {
      flex-basis: 15rem;
      flex-grow: 9999;
      margin-bottom: 1rem;
      border-radius: 2px 0 0 2px;
      text-align: left;
      min-height: 46px;
      border: 1px solid #cccccc;
      background-color: var(--color-text-field);
      color: var(--color-text-field-text);
      max-width: 100%;
      line-height: 1.2;
      border-radius: 2px;
      padding: 0 10px;
    }

    .password-form__submit {
      background: #3a3a3a;
      color: #fff;
      min-height: 48px;
      margin-bottom: 0;
    }
  }
}

.template-password {
  padding-top: 0;
}

#LoginModal.modal--is-active {
  display: flex;
}

#LoginModal .modal__close {
  padding: 20px;
}

#LoginModal .modal__inner {
  background: white;
  color: black;
  padding: 30px;
}

.password-admin-link {
  margin: 0;

  a {
    border-bottom: 1 solid black !important;
  }
}

// Footer

.password-page__footer {
  -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  @include desktop {
    -ms-flex: 1 1 100%;
      flex: 1 1 100%;
  }

  line-height: normal;
  font-size: 80%;
  margin-top: $gutter;

  @include desktop {
    margin-top: 0;
  }
}

// Custom newsletter styles placeholder color

.password-page__content {
  .newsletter-form-group {
    max-width: none;
    position: relative;
  }

  label {
    display: none;
  }

  .newsletter-form-group__input {
    margin: 0 auto;
    width: 100%;
    border-bottom-color: white;
    border-radius: 0;
    padding-right: 45px;
    background-color: transparent;
    color: white;
    border: 0;
    border-bottom: 2px solid white;
    max-width: 100%;
    padding: 8px 0;

    &::placeholder {
      color: white;
    }
  }

  .newsletter-form-group__submit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    color: currentColor;
    padding-right: 0;
    background: transparent;
    background: none;
    border: none;
    display: inline-block;

    .icon {
      width: 26px;
      height: 24px;

      path {
        fill: none !important;
        stroke-width: 5px;
        stroke: currentColor !important;
        stroke-linecap: miter;
        stroke-linejoin: miter;
      }
    }
  }

  .social-sharing__link {
    font-size: 12px;
    display: inline-block;
    color: white;
    border-radius: 2px;
    margin: 0 18px 0 0;
    text-decoration: none;
    font-weight: normal;

    @include desktop {
      font-size: 15px;
    }

    .icon {
      height: 18px;
      width: 18px;

      path {
        fill: white;
      }
    }

    .social-sharing__title {
      display: inline-block;
      vertical-align: middle;
      padding-right: 15px;
      padding-left: 3px;
    }
  }
}
