{% assign set = section.settings %}
{% render 'section-styles', set: set, section: section %}

{% paginate search.results by 10 %}

{% if search.performed and search.results != blank and search.types contains 'product' %}
  <div class="container">
    <h1 class="title not-animated">Search results for "{{ search.terms }}"</h1>
    <div class="products-grid">
      {% for result in search.results %}
        {% assign product = result %}
          <div class="product-cell-wrap">
            {% render 'product-cell', { product: product, showInfo: true, showDescr: true, showPrice: true, showBtn: true } %}
          </div>
      {% endfor %}
    </div> <!-- /.products-grid -->
  </div>
{% else %}
  <div class="container">
    <h1 class="title not-animated">Nothing found for "{{ search.terms }}"</h1>
  </div>
{% endif %}

{% endpaginate %}



{% schema %}
{
  "name": "Search",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },


    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    }
  ]
}

{% endschema %}