.benefits-section {
  border-top: 1px solid $color-grey-light;
  .section__content {
    padding-top: $gutter*3;
  }
}
.benefits {
  @include row(30px);

}
.benefits__item {
  @include cell(4, 0 30px);
  svg, img {
    height: 80px;
    max-width: none;
  }
}
.benefits__title {
  margin-top: $gutter*2;
  font-size: $fz-4;
  font-weight: 900;
}
.benefits__text {
  font-size: $fz-5;
  p {
    line-height: 1.625
  }
}
.benefits__bottom {
  margin-top: $gutter*3;
  text-align: center;
}

@include mobile {
  .benefits {
    flex-wrap: wrap;
    .btn.m-underline.m-bold {
      font-size: $fz-4;
    }
  }
  .benefits__item {
    min-width: 100%;
    max-width: 100%;
    margin-top: $gutter*2;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    &:first-child {
      margin-top: 0;
    }
  }
  .benefits__text {
    font-size: 14px;
  }
  .benefits__title {
    margin-top: $gutter;
    font-size: $fz-4;
    font-weight: bold;
  }
}