.section.m-diamonds {
  .section__content {
    padding-top: 0;
  }
}

.diamonds {
  margin-bottom: $gutter*2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
}
.diamonds__item {
  margin-left: -15px;
  flex-basis: 150px;
  height: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url("../images/diamond2.png") no-repeat center center;
  background-size: contain;
  &:nth-child(2n) {
    margin-top: $gutter*2;
  }
}
.diamonds__title {
  margin: 0;
  font-size: $fz-3;
  font-weight: 600;
}