.hero-container {
  display: flex;
  @include mobile {
    display: block;
  }
}
.hero {
  flex: 1;
  min-width: 50%;
  position: relative;
  background: $color-hero-bg;
}
.hero__container {
  width: 100%;
}
.hero__info-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(50% - #{$container-l}/2);
  right: calc(50% - #{$container-l}/2);
  @include mobile {
    left: 0;
    right: 0;
  }
  &.m-half.m-index-1 {
    width: auto;
    left: calc(100% - #{$container-l}/2);
    right: 0;
  }
  &.m-half.m-index-2 {
    width: auto;
    left: 0;
    right: calc(100% - #{$container-l}/2);
  }
}
.hero__info {
  max-width: 60%;
  padding: 0 $gutter;
  position: absolute;
  z-index: 1;
  color: $color-hero;
  .pretitle {
    color: $color-brown;
  }
  &.m-white {
    color: $color-white;
    .pretitle {
      color: $color-white
    }
  }

  $margin-desktop: 50px;
  $margin-mobile: 30px;


  &.top-left {
      text-align: left;
      top: $margin-desktop;
      left: $margin-desktop;
      right: auto;
      transform: none;     
  }

  &.top-center {
      text-align: center;        
      margin: auto;
      top: $margin-desktop;
      left: 50%;
      right: auto;
      transform: translateX(-50%);     
  }

  &.top-right {
      text-align: right;        
      left: auto;
      right: $margin-desktop;
      top: 50px;
  }

  &.middle-left {
      text-align: left;        
      left: $margin-desktop;
      right: auto;
      transform: translateY(-50%);
      top: 50%;
  }

  &.middle-center {
      text-align: center;        
      left: 50%;         
      top: 50%;
      transform: translate(-50%, -50%);
  }

  &.middle-right {
      text-align: right;        
      left: auto;
      right: $margin-desktop;
      top: 50%;
      transform: translateY(-50%);      
  }

  &.bottom-left {
      text-align: left;        
      left: $margin-desktop;
      right: auto;
      bottom: 50px;
      transform: none;      
  }

  &.bottom-center {
      text-align: center;        
      left: 50%;
      transform: translateX(-50%);
      right: auto;
      bottom: $margin-desktop;      
  }

  &.bottom-right {
      text-align: right;        
      left: auto;
      right: $margin-desktop;
      bottom: $margin-desktop;
      transform: none;      
  }

  @include mobile {
    &.mobile_top-left {
        text-align: left;
        top: $margin-mobile;
        left: $margin-mobile;
        right: auto;
        bottom: auto;
        transform: none;     
    }

    &.mobile_top-center {
        text-align: center;        
        margin: auto;
        top: $margin-mobile;
        left: 50%;
        right: auto;
        bottom: auto;
        transform: translateX(-50%);     
    }

    &.mobile_top-right {
        text-align: right;        
        left: auto;
        right: auto;
        right: $margin-mobile;
        top: 50px;
        bottom: auto;
    }

    &.mobile_middle-left {
        text-align: left;        
        left: $margin-mobile;
        right: auto;
        transform: translateY(-50%);
        top: 50%;
        bottom: auto;
    }

    &.mobile_middle-center {
        text-align: center;        
        left: 50%;         
        top: 50%;
        left: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
    }

    &.mobile_middle-right {
        text-align: right;        
        left: auto;
        right: $margin-mobile;
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);      
    }

    &.mobile_bottom-left {
        text-align: left;        
        left: $margin-mobile;
        right: auto;
        bottom: 50px;
        top: auto;
        transform: none;      
    }

    &.mobile_bottom-center {
        text-align: center;        
        left: 50%;
        transform: translateX(-50%);
        right: auto;
        bottom: $margin-mobile;      
        top: auto;
    }

    &.mobile_bottom-right {
        text-align: right;        
        left: auto;
        right: $margin-mobile;
        bottom: $margin-mobile;
        top: auto;
        transform: none;      
    }
  }
}

.hero__title,
.hero__text {
  color: inherit;
}
.hero__title {
  color: inherit;
  .pretitle + & {
    margin-top: 0.33em;
  }
  +.subtitle {
    margin-top: $gutter;
  }
}
.hero__text {
  margin-top: 1.5em;
  font-size: 1.75vw;
  line-height: 1.25;
  p {
    margin-bottom: 0;
  }
  p+p {
    margin-top: 0;
  }
}

.hero__img {
  text-align: right;
  position: relative;
  margin-left: auto;
  z-index: 0;

}



.hero.m-blog {
  min-height: 0;
  height: auto;
  .hero__img {
    padding: 0;
  }
  .hero__title {
    font-size: $fz-title;
  }
  .hero__info {
    display: block;
    height: auto;
    position: static;
    text-align: center;
    transform: none;
  }
}



@include mobile {
  .hero {
    
  }
  .hero__info {
    width: 100%;
    white-space: initial;
    .subtitle {
      font-size: $fz-6;
      max-width: 100%;
    }
  }
  .hero__title {
    font-size: $fz-2;
  }


  .hero.m-blog {
    .hero__title {
      font-size: 24px;
    }
    .hero__img {
      padding: 0 $gutter;
    }
  }
}

