.made-in {
  .btn {
    position: relative;
    z-index: 1;
  }
}
.made-in__top {
  padding: $gutter*3 0;
  background: url('../images/site-bg.jpg') no-repeat center center;
  background-size: cover;
  color: $color-white;
  position: relative;
  &.has-bottom {
    padding-bottom: 400px;
  }
  &:before {
    @include overlay {
      opacity: 0.8;
    }
  }
  .title, .subtitle { color: inherit; position: relative; z-index: 1; }
  .title {
    @include mobile {
      text-align: center;
    }
  }
  .subtitle {
    margin-bottom: $gutter*2;
    @include mobile {
      font-size: $fz-5;
      text-align: center;
    }
  }
  .container {
    max-width: $container-m;
  }
}

.made-in__bottom {
  margin-top: -320px;
  position: relative;
  z-index: 1;
  .container {
    max-width: 900px;
  }
}

.made-in__subheading {
  padding-top: $gutter*2;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  @include mobile {
    display: block;
  }
}

.made-in__blocks {
  @include row($gutter);
}

.made-in__block {
  @include cell(2);
  @include mobile {
    @include cell(1);
  }
}

.made-in__text, .made-in__image {
  &:not(:first-child) {
    margin-top: $gutter*2;
  }
  @include mobile {
    margin-top: $gutter*2;
  }
}

.made-in__text {
  line-height: 1.625;
  @include mobile {
    text-align: center;
  }
  p {
    margin-top: 0;
  }
}

.made-in__image {
  box-shadow: 0px 14px 23px 0px rgba(0, 0, 0, 0.15);
}