.s5 {
  .container {
    position: relative;
    .slider-controls {
      position: absolute;
      left: -$gutter*3;
      right: -$gutter*3;
      top: 50%;
      transform: translate(0, -50%);
      @include mobile {
        position: static;
        transform: none;
        padding: $gutter*2 $gutter*4 0;
        justify-content: space-between;
        .slider-arrow {
          position: static;
        }
      }
    }
  }
}

.s5__slide {
  display: flex !important;
  @include mobile {
    display: block !important;
  }
}

.s5__text {
  margin-right: -215px;
  padding-right: 215px;
  padding-top: $gutter*10;
  padding-left: $gutter*8;
  flex: 1;
  order: 0;
  position: relative;
  @include mobile {
    margin: -150px 30px 0;
    padding: 20px;
    position: relative;
    z-index: 99;
  }
}

.s5__image {
  padding: $gutter*5 0;
  min-width: 430px;
  max-width: 430px;
  position: relative;
  order: 1;
  @include mobile {
    padding: 0;
    min-width: 0;
    max-width: 100%;
  }
}

.s5__product-image {
  width: 150px;
  position: absolute;
  bottom: 75px;
  right: 250px;
  @include mobile {
    display: none;
  }
}
