<!-- Begin ReCharge code -->
{% include 'subscription-cart-footer' %}
<!-- End ReCharge code -->

<div class="sections-wrapper">
  {% section 'ea-cart' %}
  {% section 'products-slider--cart' %}
</div>