{% include 'shogun-products', content: collection %}
{{collection.metafields.shogun.above}}
<div class="sections-wrapper">
  {% section 'hero--collection' %}
  {% section 'collection' %}
</div>

{{collection.metafields.shogun.below}}

