<div class="section page-section">
  <div class="container">
    <h1 class="title ta-center">{{ page.title }}</h1>
    <div class="page-content rte">
      {{ page.content }}
    </div>
  </div>
</div>