<div class="brand-info" style="background-color: {{ settings.brand_info_bg }};">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center">
      <div class="brand-info__logo mr-4"><img src="{{ settings.brand_info_icon | img_url: '60x' }}" alt=""></div>
      <div class="brand-info__text">{{ settings.brand_info }}</div>
    </div>
  </div>
</div>