<div class="bmbs">
  <a href="/">Home</a>
  <span class="circle-dot"></span>
  <a href="{{ blog.url }}">{{ blog.title }}</a>
  <span class="circle-dot"></span>
  <span>{{ article.title }}</span>
</div>