<div class="bulk-content container p-4">
  <h3 class="title not-animated">Bulk Order Inquery</h3>

  {% form 'contact', class: "contact-form" %}
    <div class="row">
      {% if form.errors %}
        <div data-popup-form-errors="bulk"></div>
        <div class="col-xs-12 col-sm-12">
          <div class="form-errors">{{ form.errors | default_errors }}</div>
        </div>
      {% endif %}
      <div class="col-xs-12 col-sm-6 field">
        <input type="text" class="input" name="contact[name]" id="contactFormName" required="" placeholder="Name*" value="">
      </div>
      <div class="col-xs-12 col-sm-6 field">
        <input type="text" class="input" name="contact[company]" id="contactFormCompany" required="" placeholder="Company" value="">
      </div>
      <div class="col-xs-12 col-sm-6 field">
        <input type="tel" class="input" name="contact[phone]" id="contactFormPhone" placeholder="Phone Number" value=""
          pattern="[0-9\-]*">
      </div>

      <div class="col-xs-12 col-sm-6 field">
        <input type="email" class="input" name="contact[email]" id="contactFormEmail" required="" placeholder="Email*" value=""
          spellcheck="false" autocomplete="off" autocapitalize="off">
      </div>

      <div class="col-xs-12 col-sm-12 field">
        <textarea rows="10" class="textarea" name="contact[body]" id="contactFormMessage" required="" placeholder="Message*"></textarea>
      </div>
    </div>
    <div class="mt-4"><input type="submit" class="btn btn--primary" value="Submit"></div>
  {% endform %}
</div>