{% assign set = section.settings %}

{% render 'ea-section-styles', section: section, customStyles: customStyles %}

{% render 'ea-section-foreground-image', section: section %}


<div class="container">
  <div class="posts__grid">
    <div class="row">
      {%- capture class -%}
        {%- render 'column-width', { device: 'md', columns: set.posts_per_row  } -%}
        {%- render 'column-width', { columns: set.posts_per_row_mobile  } -%}
      {%- endcapture -%}
      {%- for article in articles -%}
        <div class="{{ class | strip }}" data-animate-section>
          {%- render 'post-cell', article: article, section: section -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
  <div class="posts__pagination">
    {% render 'pagination', paginate: paginate %}
  </div>
</div>