<form action="/search" class="form form--search">
  <input type="text" name="q" value="{{ search.terms | escape }}" class="form__input" placeholder="Search by articles" data-search>
  <input type="hidden" name="type" value="article" />
</form>