<!-- Subscriptions Powered by ReCharge Payments: Begin Liquid Code -->
<!--
	Subscription login assistant
	http://rechargepayments.com: v0.1
-->
<style>
	div#rc_login {
		display: block;
		width: 100%;
		text-align: center;
		margin: 20px auto;
	}
</style>
<div id="rc_login" style="display: none;">
	<h5>Having issues managing your subscriptions?</h5>
	<p>
		<a href="/tools/recurring/get-subscription-access">Click here</a>
	</p>
</div>
<!-- Subscriptions Powered by ReCharge Payments: End Liquid Code -->
